.info-form {
    display: flex;
    justify-content: center;
    font-family: 'Stardos Stencil', cursive;
    margin-top: 20px;
    margin-bottom: 20px;
}


#form-btn {
    margin-bottom: 20px;
    margin-top: 10px;
    border: none;
    outline: 0;
    background: black;
    color: gold;
    border-radius: 10px;
    cursor: pointer;
    transition: all 300ms ease;    
    &:hover {
        background: white;
        color: black;
    }
}

.info-contacto-general a{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 25px;
    color: black;
    font-weight: 700;
    .info-contacto-general a i {
        color: rgb(0, 0, 0);
        }
        &:hover {
            font-size: 18px;
            color: black;
        }
    }