.parrafo-nosotros {
    margin: 1em;
    font-size: 1.1em;
    font-family: 'Stardos Stencil', cursive;
}


#card{
    margin: 2em;
    h3 {
        color: rgb(92, 92, 43);
    }
    p {
        color: rgb(156, 128, 56);
        }
    }

#audiencia-1 {
    margin: 1em 0 3em 0;
    transition: 0.5s;
    object-fit: cover;
    &:hover {
        transform: scale(1.1);
    }
}

#audiencia-2 {
    margin: 1em 0 3em 0;
    transition: 0.5s;
    object-fit: cover;
    &:hover {
        transform: scale(1.1);
    }
}