* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

#color {
    background-color: gold;
}

@import "./variables";

@import "./header";

@import "./main_index";

@import "./main_contacto";

@import "./main_equipo";

@import "./main_nosotros";

@import "./main_palmares";

@import "./footer";


/* MEDIA QUERYS */

@media (max-width: 480px) {
    #carouselExampleIndicators {
        display: none;
    }
}

/* @media (max-width: 480px) {
    #compra {
        display: none;
    }
} */


// @media (max-width: 720px) {
//     .video-intro {
//         display: none;
//     }
// }