* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#color {
    background-color: gold;
}


@import "./variables";

@import "./header";

@import "./main_index";

@import "./main_contacto";

@import "./main_equipo";

@import "./main_nosotros";

@import "./footer";


/* MEDIA QUERYS */

@media (max-width: 280px) {
    #carouselExampleIndicators {
        display: none;
    }
}